.material-symbols-outlined {
  font-variation-settings: 'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48;
  font-size: 50px;
}

.account-title {
  display: flex;
  align-items: center;
}

.title {
  padding-left: 1em;
}
