<mat-drawer class="sidenav" mode="side" opened="true">
  <!-- Account Icon -->
  <div class="sidenav-items">
    <a routerLink="home" class="sidenav-item">
      <span class="material-symbols-outlined">home</span>
      <span *ngIf="expanded" class="sidenav-descriptions"><b>Home</b></span>
    </a>

    <a routerLink="account" class="sidenav-item">
      <span class="material-symbols-outlined">person</span>
      <span *ngIf="expanded" class="sidenav-descriptions"><b>Account</b></span>
    </a>

    <!-- Expanded Icon -->
    <div class="expanded">
      <span *ngIf="!expanded" (click)="expanded = !expanded"
            class="material-symbols-outlined expanded_icon">start</span>
      <span *ngIf="expanded" (click)="expanded = !expanded" style="transform: scale(-1, 1);"
            class="material-symbols-outlined expanded_icon">start</span>
    </div>
  </div>
</mat-drawer>
