/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  user-select: none;
}

body {
  margin: 0;
  /*font-family: Roboto, "Helvetica Neue", sans-serif;*/
  font-family: "Noto Sans JP", "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

/* select uncolorize */
a, a:hover, a:visited {
  color: white;
  text-decoration: none;
}
